a.read-more {
    font-variant: small-caps;
}

hr.article-div {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #aaa;
}

/* a.article-title { */
/*     text-decoration: none; */
/*     color: #000; */
/* } */

/* @media (hover: hover) { */
/*   a.article-title:hover { */
/*       color: rgb(6, 69, 173); */
/*   } */
/* } */
