li{
    list-style-position: inside;
}

.grid-parent{
    display: grid;
    grid-template-columns: 1fr 2fr;
}


.child1{
    padding: 20px;
    display: flex;
    align-items: center; /* Center vertically */
    margin:auto; /* Center horizontally */
}

.child2{
    padding: 20px;
    display: flex;
    align-items: center; /* Center vertically */
    margin:auto; /* Center horizontally */
}


.hidden-content{
    padding: 1em;
    padding-top: .01em;
    margin-left: 1.2em;
    background-color: rgba(217, 217, 217, 0.351);
}

.list-click{
    color: rgb(44, 112, 222);
}

.list-click:hover{
    text-decoration: underline;
    cursor: help;
}

.ul-marker-outside > li{
    list-style-position: outside;
}

@media (max-width: 600px) {
    .grid-parent {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr, 2fr;
    grid-template-areas:
        "item1"
        "item2";
    }
}