li{
    list-style-position: inside;
}

.grid-parent{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.child1{
    padding: 20px;
    display: flex;
    align-items: center; /* Center vertically */
    margin:auto; /* Center horizontally */
}

.child2{
    padding: 20px;
    display: flex;
    align-items: center; /* Center vertically */
    margin:auto; /* Center horizontally */
}

.hidden-content{
    margin-left: 1.2em;
    background-color: rgba(217, 217, 217, 0.351);
    padding-left: .3em;
}

.list-click{
    color: rgb(44, 112, 222);
}

.list-click:hover{
    text-decoration: underline;
    cursor: help;
}